<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ADS_68 copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>ADS_68.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>ChistDom.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>DJ.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>ElectroSbit copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>ElectroSbitSaratov.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Fregat.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>JKH_Pavlovskoe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>JKH_Pocket.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Klimovsk12.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Komeks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>MupRCMytishi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NewOpaliha.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>ObjJKH.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OurObjHome.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>Parus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ReutKomfort copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>ReutKomfort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RodnikMUP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>Rodnik_mup.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Servicekom.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>Skyfort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Soldatova1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Standart_DV.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Stolitsa.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>StroimBud.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Tafgai.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Tafgai_UK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Teplovodoresources copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>Teplovodoresources.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>UK_Garant.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>UK_Garmonia.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>UK_Komfort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UK_Paritet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>UK_Paritet_Khab.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>UK_Perspectiva.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>UK_Service_Comfort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>UK_Upravdom_Che.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Uyut_Service.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30260B3D22DA028C00D019DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>302EF5F9225443AF0080B482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>302EF69622546DE00080B482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>302FA1802256F1A8006B7874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304A310D22DAEB7000008E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30F3BD5322A50748007B24FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30FA50F722CA07FE00D755DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
