ObjJKH.xcodeproj/xcuserdata/evgenykormilitsin.xcuserdatad/xcschemes/xcschememanagement.plist
ObjJKH.xcworkspace/xcuserdata/evgenykormilitsin.xcuserdatad/UserInterfaceState.xcuserstate
ObjJKH.xcworkspace/xcuserdata/evgenykormilitsin.xcuserdatad/IDEFindNavigatorScopes.plist
ObjJKH.xcworkspace/xcuserdata/evgenykormilitsin.xcuserdatad/xcdebugger/
Pods/
Breakpoints_v2.xcbkptlist