<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ADS_68.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Alternative.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>155</integer>
		</dict>
		<key>Avalon.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>ChistDom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ChistDom.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>ClearCity.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>Cristall.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>DJ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>DJ.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>DJ_Vladimir.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>DOM24.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>Doka.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>ERC_UDM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>EasyLife.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>ElectroSbitSaratov.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>ElectroTech.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>Energoprogress.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>Fregat.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>GorAntenService.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>Invest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>JKH_Pavlovskoe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>JKH_Pocket 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>JKH_Pocket.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>KFH_Ryab.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>Klimovsk12.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Komeks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Komeks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>Lefortovo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>MUP_IRKC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>MUP_Severnoe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>158</integer>
		</dict>
		<key>MobileMIR.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>Monolit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>MupRCMytishi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MupRCMytishi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Murmansk_Partner_Plus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Narian_Mar_el.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>NewOpaliha.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>ObjJKH.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ObjJKH.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>OurObjHome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OurObjHome.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>Parus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Pritomskoe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>RIC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>RKC_Samara.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>ReutKomfort.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>RodnikMUP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>Servicekom.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>Sib_Aliance.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>Skyfort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Soldatova1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Standart_DV.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Stolitsa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Stolitsa.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>StroimBud.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>TSJ_Archangel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>TSJ_Kosm11.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>TSJ_Lider.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>TSJ_Pedagog.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>TSN_Dnestr.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>TSN_Ruble40.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Tafgai.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Teplovodoresources.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>TestADS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>UK_Drujba.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>UK_First.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>UK_Garant.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>UK_Garmonia.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>UK_Komfort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UK_Komfort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UK_Paritet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>UK_Paritet_Khab.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>UK_Perspectiva.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>UK_Service_Comfort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>UK_Spartak.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>UK_Upravdom_Che.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>UkGarant.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>UniversSol.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>Uyut_Service.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>VodSergPosad.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>Zarinsk.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C1FC6D82410B7FE000609D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C1FC78E2410C316000609D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C1FC8442410D694000609D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C27001A23E3D99300B5B995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C27010923E3F52600B5B995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C39A89523F28C04007E2772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3A969823DABA290021E8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C40897A2407CC9C00D4C068</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C63A44A23DEC886000DD3E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C63A50323DED3C2000DD3E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C63A5BF23DEDAB2000DD3E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C63A67B23DEDE5F000DD3E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C81AE13238BC23D0041B1E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C99ACB8241F475800D8D7B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CC759032398C65800EE59D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CC759B12398CAD600EE59D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CCB84D323A365FF007C7AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CCDAD8423F2914E00B07CBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CDE14ED2394E3260040DCE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CFC7CB22428852500A0D24B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30260B3D22DA028C00D019DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3044D95022FAC1E800FDB7FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304A310D22DAEB7000008E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>307C844922E5E0BF00CFE739</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3089A21C235D494B00A5F7AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3089A2CF235DB0F300A5F7AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30C6037A22FA72D40067FD4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30E4B8702328C995003DBDAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4137E21122128AE6009C6A7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>418ABF062133CC7B004DB75C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>418ABF4A2134CF1A004DB75C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41DFC3E1213D206C002CEB62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
