<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>781697834817-mqna76sqt5uh6ast5hll45n3rktt35uc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781697834817-mqna76sqt5uh6ast5hll45n3rktt35uc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>781697834817-e597ri7ug97tfakt96p1rvvpsg4769u5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEwACc4w9_F8AY_eoGBTbABgkqHs2DmyU</string>
	<key>GCM_SENDER_ID</key>
	<string>781697834817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rom.best.muprcmytishi</string>
	<key>PROJECT_ID</key>
	<string>djservice-33702</string>
	<key>STORAGE_BUCKET</key>
	<string>djservice-33702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781697834817:ios:d2056982cb877120</string>
	<key>DATABASE_URL</key>
	<string>https://djservice-33702.firebaseio.com</string>
</dict>
</plist>